.header {
    text-align:center;
    color:cadetblue;
    margin-top:4%;
}

.div-flex-wrapper {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
    width:100%;
    height:100%;
    margin-top:2%;
}

.div-flex-container {
    width:26%;
    background-color: antiquewhite;
    padding: 1%;
    margin-bottom: 2%;
}

.div-education {
    display:flex;
    justify-content:space-between;
    margin-top:5%;
    height:1.4em;
}

.div-education > .p-education {
    font-weight:bold;
}

.div-education > .p-period {
    text-align:end;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 700,
  'GRAD' 200,
  'opsz' 48
}

.sub-header {
    text-align:center;
    color:rgb(130, 171, 173);
    margin-top:4%;
}